@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

body {
  background-color:#f5f5f5;
  padding:20px 0 0 0;
  font:14px/1.5 "Libre Baskerville", Georgia, serif;
  color:#666;
  font-weight:400;
  text-align:center;
  -webkit-font-smoothing:subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-family:"Josefin Sans", Helvetica, sans-serif;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
  text-transform:uppercase;
}

h1 {
  font-weight:600;
}

h2 {
  font-weight:400;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#202957;
  text-decoration:none;
}

a:hover {
  color:#999;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:400px;
  margin:0 auto;
}

.btn {
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  background-color:#202957;
  border-radius:28px;
  color:#ffffff;
  font-family:"Josefin Sans", Helvetica, sans-serif;
  font-size:15px;
  font-weight:600;
  padding:10px 16px 8px 16px;
  text-decoration:none;
  text-transform:uppercase;
}

.btn:hover {
  background-color:#999;
  color:#ffffff;
  text-decoration:none;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}

header {
  -webkit-font-smoothing:subpixel-antialiased;
}

header .cait {
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border:8px solid white;
  margin-bottom:20px;
}

section {
  padding:10px 0;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer ul {
  list-style:none;
  display:block;
  height:40px;
  padding:0;
  text-align:center;
}

footer li {
  width:40px;
  display:inline-block;
  height:40px;
}

footer ul a {
  line-height:1;
  font-size:30px;
}

footer ul a:hover {
  color:#999;
}

footer ul a:active {
  background-color:#f0f0f0;
}

@media print, screen and (max-width: 960px) {

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0 0 0;
    margin:0 0 20px;
  }
}
/*
@media print, screen and (max-width: 720px) {

}

@media print, screen and (max-width: 480px) {

}
*/
@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
